*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
}

h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color : #4D4F62;
    font-weight: bold
;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #4D4F62;

}

img{
    width: 64px;
    height: 64px;
    margin-top: 40px;
    display: flex;
}

.box{
    padding: 32px;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: #4D4F62;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.supervisor{
    justify-items: flex-start;
}

.calculator{

}